<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DevOpsDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEBCEB2F24B0CFA700CEDC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEBCEB4524B0CFAD00CEDC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEBCEB5024B0CFAD00CEDC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
